body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #AECEEA;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    flex: 1;
    text-align: center;
}

nav {
    background-image: radial-gradient(circle, #ff4400, #ff8800f9);
}

nav ul li a{
    color: #d0ec00;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-radius: 20px;
}

nav ul li a:hover{
    background-color: #fff;
    color: #c41111;
}

  
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}
  
.sidebar {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
}
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  li a:hover {
    background-color: #f2f2f2;
  }
  
  .footer {
    margin-top: auto;
    text-align: center;
    color: #666;
  }
  
  .main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-left: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
  }

 
.settings-container {
    max-width: 200px;
    margin-top: 0px;
    margin-left: 160px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
  }

  .change-password {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  